---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
import HeroSection from "../components/hero-section.astro";
import Features1 from "../components/features-1.astro";
import Features2 from "../components/features-2.astro";
---

<Layout>
	<Navbar />
	<HeroSection />
	<main>
		<Features1/>
		<Features2/>
	</main>
</Layout>