<div class="flex flex-col items-center justify-center w-screen h-screen max-w-7xl m-auto">
  <h1 class="my-8">Wat bieden wij aan?</h1>
  <!-- First section -->
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div>
      <video
        class="h-auto w-auto rounded-lg"
        data-aos="flip-right"
        data-aos-duration="2000"
        data-aos-easing="ease-in-linear"
        autoplay
        muted
        loop
      >
        <source src="/coffee.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div
      class="sm:px-8"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-linear"
    >
      <h2>Kwaliteit en Betaalbaarheid</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, eos
        deleniti pariatur ab fugiat laborum adipisci magni accusantium qui alias
        error nisi voluptate mollitia voluptatum explicabo ut quaerat eligendi
        harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
        quae, vitae aperiam quam perferendis dolor ad unde, beatae ea nulla, non
        exercitationem quod incidunt nostrum cumque velit veritatis maiores eos.
      </p>
    </div>
  </div>
</div>