<header class="h-200 bg-[url(/bg.jpg)] bg-cover bg-no-repeat bg-center">
    <div class="flex items-center justify-center h-full bg-white/50">
        <div class="text-center bg-amber-50">
            <h1>Serieus over Koffie</h1>
            <h4>Serieus om de Klant</h4>
        </div>
    </div>
</header>