---

---

<nav class="bg-white grid py-5 gap-2.5 sm:h-15 sm:px-5 sm:py-0 sm:gap-0 sm:w-full sm:grid-cols-3 w-screen items-center justify-center">
  <!-- Buttons left -->
  <div
    class="flex justify-center sm:justify-start sm:order-1 sm:text-left text-3xl"
  >
    <a href="#">ffbakkiedoen.nl</a>
  </div>

  <!-- Search input bar -->
  <div class="order-3 sm:text-center w-screen sm:w-full">
    <input
      class="w-full p-1 rounded-xl hover:border-amber-900 focus:border-amber-400 outline-0 border-2 transition duration-200"
      placeholder="Search"
    />
  </div>

  <!-- Buttons right -->
  <div
    class="flex justify-center overflow-hidden gap-2 sm:order-3 sm:float-right sm:justify-end"
  >
  <!-- opacity-50 hover:opacity-100 transition duration-500 -->
    <a href="#"><img src="/cart.svg" class="h-8"/></a>
    <a href="#"><img src="/user.svg" class="h-8"/></a>
    <a href="#"><img src="/order.svg" class="h-8"/></a>
  </div>
</nav>
