---

---

<nav>
  <!-- Bovenste links -->
  <div class="bg-white h-8 items-center text-sm font-light w-screen max-w-7xl m-auto hidden lg:grid lg:grid-cols-2">
    <div class="sm:flex gap-4 justify-start">
      <a href="#">Over ons</a>
      <a href="#">Folders</a>
      <a href="#">Nieuwsbrief</a>
      <a href="#">Evenementen</a>
      <a href="#">Onze partners</a>
    </div>
    <div class="sm:flex gap-4 justify-end">
      <a href="#">Klantenservice</a>
      <a href="#">Inloggen</a>
      <a href="#">NL</a>
    </div>
  </div>
  
  <!-- Search bar en grote buttons -->
  <div
    class="bg-orange-200"
  >
  <div class="max-w-7xl m-auto grid py-5 gap-2.5 sm:h-15 sm:py-0 sm:gap-0 sm:w-full sm:grid-cols-3 w-screen items-center justify-center">
    <!-- Buttons left -->
    <div
      class="flex justify-center sm:justify-start sm:order-1 sm:text-left text-3xl"
    >
      <a href="#" class="logo">ffbakkiedoen</a>
    </div>

    <!-- Search input bar -->
    <div class="order-3 sm:text-center w-screen sm:w-full px-4">
      <input
        class="w-full p-2 rounded-xl bg-white outline-2 hover:outline-gray-400 focus:outline-gray-400 transition duration-800"
        placeholder="Zoeken op.."
      />
    </div>

    <!-- Buttons right -->
    <div
      class="flex justify-center overflow-hidden gap-2 sm:order-3 sm:float-right sm:justify-end"
    >
      <!-- opacity-50 hover:opacity-100 transition duration-500 -->
      <a href="#"><img src="/cart.svg" class="h-6 flex float-left"/>Winkelwagen</a>
      <a href="#"><img src="/user.svg" class="h-6 float-left"/>Profiel</a>
    </div>
  </div>
  </div>
</nav>
